.btnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .question {
    position: relative;
    display: inline;
    cursor: pointer;

    > img {
      cursor: pointer;
    }

    span {
      background-color: inherit;
      color: white;
      font-size: 15px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

:global(.light) .btnWrapper img,
:global(.linked) .btnWrapper img,
:global(.light) .imgWrapper img,
:global(.linked) .imgWrapper img,
:global(.light) .btnWrapper img,
:global(.linked) .btnWrapper img {
  filter: invert(1);
}

:global(.light) .btnWrapper .question span,
:global(.linked) .btnWrapper .question span {
  color: black;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
}

.recordingTop {
  height: 270px;
}


.imgWrapper {
  position: relative;
  text-align: center;
}

.imgWrapper .wavesImg {
  height: 128px;
}

.micImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recordBtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.time {
  margin-bottom: 20px;
  min-height: 54px;

  .recordTime {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
  }

  .dateTime {
    font-size: 12px;
  }
}

.recordBtn_wrapper {
  text-align: center;

  h6 .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #FC6262;
    margin-right: 4px;
    margin-bottom: 1px;
    border-radius: 50%;
  }
}

.dateTime {
  text-align: center;
}

.sendBtn {
  margin: 30px 0;
  padding: 10px 20px;
  background-color: #fff !important;
  border-radius: 20px;
  width: 160px;
}

.clearBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearBtn {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #fff !important;
  border-radius: 20px;
  width: 160px;
}

:global(.light) .sendBtn,
:global(.linked) .sendBtn,
:global(.light) .clearBtn,
:global(.linked) .clearBtn {
  background: var(--light-secondary-background) !important;
}

.senBtnWrapper {
  text-align: center;
  width: 100%;
}

.inner_wrapper {
  padding: 150px 0;
}

.inner_wrapper .header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h2 {
  padding: 10px 0 7px 0;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 20px;
}

.header h6 {
  font-size: 12px;
}

.inputWrapper {
  text-align: center;
}

.fieldWrapper .linkInput {
  background: #3C3F42;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  width: 70%;
  color: #CCCCCC;
}

.linkInput::placeholder {
  color: #CCCCCC;
  font-size: 14px;
}

.fieldWrapper {
  margin: 30px 0;
}

.continueBtn {
  width: 67%;
  padding: 10px 20px;
  background-color: #fff !important;
  border-radius: 20px;
  font-size: 14px;
}

.record_btnWrapper {
  background-color: transparent;
  border: none;
  position: relative;
  margin-top: 30px;

  img {
    cursor: pointer;
  }

  h6 {
    font-weight: 700;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .pause {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

:global(.linked) .record_btnWrapper img,
:global(.light) .record_btnWrapper img {
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.6));
}

@media screen and (max-width: 1199px) {
  .wrapper {
    padding-bottom: 100px;
  }
  .imgWrapper {
    margin: 50px 0;
  }
  .imgWrapper .wavesImg {
    width: 250px;
    height: auto;
  }
  .imgWrapper .micImg {
    width: 70px;
    height: auto;
  }

  .recordBtn {
    width: 60px;
    height: 60px;
  }

}