#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.title {
    margin: 0 0 20px 0;
    font-size: 38px;
}

.subtitle {
    margin: 0 0 15px 0;
    font-size: 30px;
    text-align: left;
}

.buttons__container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.btn__play {
    width: 50px;
    height: 50px;
}

.btn__start-recording {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #c5c5c5;
    outline: none;
    cursor: pointer;
    transition: border-color 200ms ease-in-out;
}

.btn__start-recording > img {
    width: auto;
    height: 50%;
    max-height: 30px;
}

.btn__start-recording.btn__start-recording-pause {
    background-color: #ff3030;
}

.btn__start-recording.btn__start-recording-pause > img {
    height: 50%;
    max-height: 16px;
}

.btn__start-recording:hover {
    border: 4px solid #9f9f9f;
}

.btn__stop-recording {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff3030;
    border: 4px solid #c5c5c5;
    outline: none;
    cursor: pointer;
    transition: border-color 200ms ease-in-out;
}

.btn__stop-recording > img {
    width: auto;
    height: 50%;
    max-height: 16px;
}

.btn__stop-recording:hover {
    border: 4px solid #9f9f9f;
}

.btn {
    box-sizing: border-box;
    min-width: 100px;
    min-height: 60px;
    padding: 5px 20px;
    border-radius: 40px;
    font-size: 15px;
    transition: background-color 200ms ease-in-out;
}

.btn:hover {
    background-color: #bebebe;
}

.controls__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.controls__container label {
    text-align: left;
}

.tooltip__info {
    margin-left: 7px;
}

.tooltip__container {
    max-width: 300px;
}

.controls__input {
    box-sizing: border-box;
    width: 120px;
    height: 45px;
    margin-top: 7px;
    padding: 0 10px;
    display: block;
    font-size: 15px;
    border-radius: 4px;
    text-align: center;
    border: none;
    outline: none;
    background-color: #f1f1f1;
    color: black;
}

.controls__input::-webkit-outer-spin-button,
.controls__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.controls__selects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.controls__inputs {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.canvas__container {
    position: relative;
    margin: 0 auto;
}

.canvas__container canvas {
    display: block;
}

.canvas__microphone-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 60%;
    max-height: 150px;
    transform: translate(-50%, -50%);
}

.canvas__audio-wave-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 60%;
    max-height: 189px;
    transform: translate(-50%, -50%);
}

.canvas__audio-processing {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.progressIndicatorHovered {
    position: absolute;
    top: 0;
    pointer-events: none;
    height: 100%;
    width: 1px;
    background-color: rgba(133, 133, 133, 0.6);
}

.progressIndicatorHovered__time {
    position: absolute;
    top: 2%;
    left: 1px;
    width: fit-content;
    padding: 0 7px;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    background-color: #575757;
    opacity: 0.8;
}

.progressIndicatorHovered__time.progressIndicatorHovered__time-left {
    left: unset;
    right: 1px;
    border-radius: 4px 0 0 4px;
}

.progressIndicator {
    position: absolute;
    top: 0;
    pointer-events: none;
    height: 100%;
    width: 1px;
    background-color: #efefef;
}

.progressIndicator__time {
    position: absolute;
    top: 2%;
    left: 1px;
    width: fit-content;
    box-sizing: border-box;
    min-width: 41px;
    padding: 0 7px;
    font-size: 12px;
    border-radius: 0 4px 4px 0;
    text-align: left;
    color: black;
    font-weight: 500;
    background-color: #efefef;
}

.progressIndicator__time.progressIndicator__time-left {
    left: unset;
    right: 1px;
    border-radius: 4px 0 0 4px;
}

.audioInfo__container {
    box-sizing: border-box;
    height: 56px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.audioInfo__current-time {
    min-width: 95px;
    text-align: left;
}
