#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.buttons__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.canvas__container {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  height: 300px;
}

.control-hover {
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 100%;
  width: 1px;
  background-color: rgba(80, 80, 80, 0.5);
}

.control-hover__time {
  position: absolute;
  top: 2%;
  left: 1px;
  width: fit-content;
  padding: 2px 10px ;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  background-color: #505050;
  opacity: 0.5;
}

.control {
  position: absolute;
  top: 0;
  pointer-events: none;
  height: 100%;
  width: 1px;
  background-color: #efefef;
}

.control__time {
  position: absolute;
  top: 2%;
  left: 1px;
  width: fit-content;
  padding: 2px 10px ;
  font-size: 14px;
  border-radius: 0 5px 5px 0;
  color: black;
  font-weight: 500;
  background-color: #efefef;
}

.btn__play {
  margin-bottom: 20px;
}